/* Ogólne rzeczy */
html,main,body{
  background-color: var(--background-color);
}
main{
  overflow:hidden;
}

/* Układ pól */
.form-grid{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  gap: 20px;
}
.doi-input{
  width: 40%;
}
.year-input{
  width: 20%;
}
.link-input{
  width: 100%;
}
.category-input{
  width: 30%;
  margin: auto;
}
.first-name-input,
.last-name-input{
  width: 30%;
}
input{
  width: fit-content;
  height: 30%;
  margin: auto;
  display: block;
  border-radius: 5px;
  padding: 1rem;
  border: none;
  overflow: hidden;
  font-size: 18px;
}
label{
  color: var(--text-color);
  text-align: center;
}
textarea{
  margin: auto;
  padding-top: 0;
  min-height: 100px;
  width: 70%;
  border-radius: 5px 5px 0 5px;
  padding: 5px;
  font-size: 12px;
  border: none;
}
@media screen and (min-width: 768px) {
  input,textarea,label {
    margin: auto;
    width: 80%;
  }
  input{
    padding:2rem;
  }
}

/* Przycisk zapisywania */
.submit-button{
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  color: var(--text-color);
  text-shadow: 0 0 2px var(--text-shadow);
  border: var(--border-color) 2px solid;
  background-color: var(--button-color);
  padding: 10px 20px;
  transition: all .2s;
  font-weight: 400;
  margin-bottom: 10%;
}
.submit-button:hover{
  transform: scale(1.02);
  box-shadow: 0 0 20px var(--button-shadow);
}