html,main,body{
  background-color: var(--background-color);
}
.articles{
  width: 100vw;
  margin-top: 100px;
}
.article-container{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 0;
  width: fit-content;
  text-align: center;
  width: 80%;
  background-color: var(--background-color-lighter);
}
.article-container>a{
  color: var(--text-color);
  text-decoration: none;
  position: relative;
}
.article-container>a::after{
  position: absolute;
  content: '';
  background-color: var(--text-color);
  height:1px;
  width: 0%;
  left: 0;
  bottom: 0;
  transition: width .2s;
}
.article-container>a:hover::after{
  width: 100%;
}

.article-container>*{
  color: var(--text-color);
}

select {
  outline: none;
  color: var(--background-color-lighter);
  background-color: var(--text-color);
  cursor: pointer;
}
input{
  border: none;
  border-radius: 5px;
  outline: none;
  color: var(--background-color-lighter);
  background-color: var(--text-color);
  cursor: pointer;  
}
.sort-conatiner{
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: absolute;
  right: 5%;
  margin-top: -40px;
  gap:5px 10px;
}
.sort-conatiner>label{
  color: var(--text-color);
}
#submit{
  grid-column-start: 1;
  grid-column-end: 3;
  width: 50%;
  margin: auto;
}
.navbar{
  padding: 0;
 }  