
/* Gdyby trzeba bylo dodac ciemny motyw 
body .dark{}*/

/* Ogólne rzeczy */
html,main,body{
  background-color: var(--background-color);
}

/* Style containera */
.form-grid{
  margin: auto;
  width: fit-content;
  display: grid;
  grid-template-columns: 2fr 5fr;
  row-gap: 15%;
  align-items: center;
  padding-inline: 10%;
  background-color: var(--background-color);
}

/* Style zawartości */
.count{
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  border-radius: 10px;
  padding-block: 5px;
  box-shadow: 0 0 10px var(--text-color );
}
.count>label{
  color: var(--text-color);
  width: max-content;
}
.link-label{
  color: var(--text-color);
  text-align: center;
}
.link-input{
  width: clamp(150px,80%,300px) ;
  max-height: 35px;
  margin: auto;
  display: block;
  border-radius: 5px;
  padding: 20px 10px;
  border: none;
}
p{
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  color: red;
}

/* Style przycisku */
.submit-button{
  grid-column-start: 1;
  grid-column-end: 3;
  margin-inline: 20%;
  border-radius: 10px;
  color: var(--text-color);
  text-shadow: 0 0 2px var(--text-shadow);
  border: var(--border-color) 2px solid;
  background-color: var(--button-color);
  padding: 5px 10px;
  transition: all .2s;
  font-weight: 400;
}
.submit-button:hover{
  transform: scale(1.02);
  box-shadow: 0 0 20px var(--button-shadow);
}