{% extends "base.html" %}
{% block content %}
<link href="/static/css/add_article_styles.css" rel="stylesheet">
<header class="header">
    <img class="logo" src="static\css\logo_bioaddmed.jpg">
    <h1>Dodaj Artykuł</h1>
</header>
    <form method="POST" class="form-grid">
        {{ form.hidden_tag() }}
        {{ form.link.label(class="link-label") }} {{ form.link(class="link-input") }}
        {{ form.year.label(class="year-label") }} {{ form.year(class="year-input") }}
        {{ form.category.label(class="category-label") }} {{ form.category(class="category-input") }}
        {{ form.title.label(class="title-label") }} {{ form.title(class="title-input") }}
        {{ form.problem_description.label(class="problem-description-label") }} {{ form.problem_description(class="problem-description-input") }}
        {{ form.solution_description.label(class="solution-description-input") }} {{ form.solution_description(class="solution-description-input") }}
        {{ form.result.label(class="result-label") }} {{ form.result(class="result-input") }}
        {{ form.problems.label(class="problems-label") }} {{ form.problems(class="form-input") }}
        {{ form.additional_notes.label(class="additional-notes-label") }} {{ form.additional_notes(class="additional-notes-input") }}
        {{ form.submit(class="submit-button") }}
    </form>
{% endblock %}
