{% extends "base.html" %}
{% block content %}
<script defer src="\static\js\scripts.js"></script>
<button class="navbar-button">
    <span class="burger"></span>
</button>
<ul class="navbar">
    <li class="navbar-item"><a href="{{ url_for('show_articles') }}" class="navbar-link">Artykuły</a></li>
    <li class="navbar-item"><a href="{{ url_for('add_article') }}" class="navbar-link">Dodaj artykuł</a></li>
    <li class="navbar-item"><a href="{{ url_for('home') }}" class="navbar-link">Strona główna</a></li>
</ul>
<link href="/static/css/articles_styles.css" rel="stylesheet">
    <form method="POST" class="sort-conatiner">
        <label>Ilość artykułów:</label><label class="articles-count "></label>
        {{ form.hidden_tag() }}
        {{ form.sort_by.label }} {{ form.sort_by() }}
        {{ form.category.label }} {{form.category() }}
        {{ form.ascending.label }} {{ form.ascending() }}
        {{ form.submit() }}
    </form>
    <div class="articles">
    {% for article in articles %}
        <div class="article-container">
            <h2 class="article-head">{{ article.title }}</h2>
            <p class="link-label">Link: <a href="{{ article.link }}">{{ article.link }}</a></p>
            <p class="year-label">Rok: {{ article.year }}</p>
            <p class="category-label">Kategorie: {{ article.category[0] }}, {{ article.category[1] }}</p>
            <p class="problem-label">Opis problemu: {{ article.problem_description }}</p>
            <p class="solution-label">Opis rozwiązania: {{ article.solution_description }}</p>
            <p class="result-label">Wynik: {{ article.result }}</p>
            <p class="problems-label">Problemy: {{ article.problems }}</p>
            <p class="additional-notes-label">Dodatkowe uwagi: {{ article.additional_notes }}</p>
            <!-- TODO: Add class for author -->
            <p class="problems-label">Autor: {{ article.analysis_author }}</p>
        </div>
    {% endfor %}
    </div>
    <script>
        const articles=document.querySelectorAll(".article-container");
        articles.forEach((article)=>{
            article.addEventListener("click",()=>{
                if(article.classList.contains("clicked")){
                    article.classList.remove("clicked");
                }else{
                    article.classList.add("clicked");
            }
        })
    })
    </script>
{% endblock %}