{% extends "base.html" %}
{% block content %}
<script defer src="\static\js\scripts.js"></script>
<link href="/static/css/home_styles.css" rel="stylesheet">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-grid">
            <div class="count">
                <label class="number-of-articles">Ilość artykułów w bazie: {{ number_of_articles }}</label>
            </div>
            {{ form.doi.label(class="link-label") }} {{ form.doi(class="link-input", autocomplete="off") }}
            {% with messages = get_flashed_messages() %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endwith %}
            {{ form.submit(class="submit-button") }}
        </div>
    </form>
{% endblock %}