{% extends "base.html" %}
{% block content %}
<link href="/static/css/index_styles.css" rel="stylesheet">
<header class="header">
    <img class="logo" src="static\css\logo_bioaddmed.jpg">
    <h1>Strona logowania</h1>
</header>
<div class="input-container">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.password.label(class="password-label") }} {{ form.password(class="password-form", type="password") }}
        {{ form.submit(class="password-button") }}
    </form>
</div>
{% endblock %}